{% load account %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% autoescape off %}
{% user_display user as user_display %}
{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    <h1 style="text-align: center;">Sign-In Code</h1>
    <p style="color: red;">Hello from {{ site_domain }}.</p>
    <p>Your sign-in code is listed below. Please enter it in your open browser window.</p>
    <h2 style="display:block;background:gray;border:2px solid black;text-align:center;">{{ code }}</h2>
   <p>This mail can be safely ignored if you did not initiate this action.</p>
    <p>THis COde will be expired within 2minutes</p>
    <p>Thank you for using {{ site_domain }}</p>


    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7AI1vdVhDR2F5i7Lhw0d9HElqmu72ePNAHA&s" alt="">
{% endblocktrans %}
{% endautoescape %}
</body>
</html>